html {
  background-image: url("../img/urban4.jpg");
  background-size: 100%;
}
h1 {
 color: white;
 font-style: oblique;
}
.history {
  color: white;
  width: 68%;
  float: left;
  font-family: sans-serif;
}
.sidebar {
  color: white;
  float: right;
}
.albums {
  color: black;
  font-family: sans-serif;
  float: left;
  margin: 12px;
  border: 5px solid white;
  padding: 5px;
  background-color: grey;
}
.photos {
  width: 28%;
  float: left;
  padding: 5%;
}
.photos img {
  width: 100%;
}
h1 {
  text-align: center;
}
